# Jekyll build output & caches
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler / Ruby gems
.bundle/
vendor/

# Editors & CMS config
.nova/
.forestry/
.vscode/
.idea/
*.sublime-workspace

# OS files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
