    </div>
    
<footer class="main-footer">

    <div class="vertical-container">

        <div class="wrapper">

            <p class="copy">&copy; Upamanyu Das 2011&#45;<script>document.write(new Date().getFullYear())</script> - All Rights Reserved</p>

            <ul id="main-social" class="social">
                <li><a href="http://twitter.com/cloudstudio" target="_blank"><span class="socicon-twitter"></span></a></li>
                <li><a href="https://plus.google.com/+UpamanyuDas" target="_blank"><span class="socicon-googleplus"></span></a></li>
                <li><a href="https://github.com/upamanyudas/" target="_blank"><span class="socicon-github"></span></a></li>
                <li><a href="http://instagram.com/cloudstudio" target="_blank"><span class="socicon-instagram"></span></a></li>
                <li><a href="http://behance.net/cloudstudios" target="_blank"><span class="socicon-behance"></span></a></li>
                {% if page.url == "/works/photography/" or page.categories contains 'photography' %}
                    <li><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/in/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/2.5/in/80x15.png" /></a></li>
                {% endif %}
                <!-- <li><a href="http://www.blogadda.com" title="Visit blogadda.com to discover Indian blogs"> <img src="http://www.blogadda.com/images/blogadda.png" width="80" height="15" border="0" alt="Visit blogadda.com to discover Indian blogs" /></a></li> -->
            </ul>

        </div>

    </div>

</footer>