    </div>
    
<footer class="main-footer">

    <div class="vertical-container">

        <div class="wrapper">

            <p class="copy">&copy; Upamanyu Das 2011&#45;<script>document.write(new Date().getFullYear())</script> - All Rights Reserved</p>

            <ul class="social">
                <li><a href="https://www.facebook.com/profile.php?id=100001505433242" target="_blank">facebook</a></li>
                <li><a href="http://twitter.com/cloudstudio" target="_blank">twitter</a></li>
                <li><a href="https://plus.google.com/+UpamanyuDas" target="_blank">google+</a></li>
                <li><a href="https://github.com/upamanyudas/" target="_blank">github</a></li>
                <li><a href="http://instagram.com/cloudstudio" target="_blank">instagram</a></li>
                <li><a href="http://behance.net/cloudstudios" target="_blank">behance</a></li>
                <li><a href="http://www.blogadda.com" title="Visit blogadda.com to discover Indian blogs"> <img src="http://www.blogadda.com/images/blogadda.png" width="80" height="15" border="0" alt="Visit blogadda.com to discover Indian blogs" /></a></li>
            </ul>

        </div>

    </div>

</footer>