<section class="main-header {% if page.path == 'index.html' %}home{% else %}regular{% endif %}">

    <div class="vertical-container">

    	<div class="wrapper clearfix">

	        <header>
	        	{% if page.path != 'index.html' %}<a href="/">{% endif %}
		            <h1 id="main-title">Upamanyu Das</h1>
		            <h2 id="main-subtitle">Graphic Designer / Illustrator / Reader / Reviewer</h2>
                    {% if page.path == 'index.html' %}
                        <br>
                        <div id="main-contact">
                            <a href="mailto:upamanyu@upamanyu.in">upamanyu@upamanyu.in</a>
                            <br>
                            <a href="mailto:upamanyu.das@gmail.com">upamanyu.das@gmail.com</a>
                            <br>
                            <a href="tel:+918334052485">+91 83 340 52485</a>
                        </div>
                    {% endif %}
	        	{% if page.path != 'index.html' %}</a>{% endif %}

	        	{% if page.path == 'index.html' %}
                    <br>
                    <div id="main-social">
                        <a href="https://www.facebook.com/profile.php?id=100001505433242" target="_blank" title="Facebook">b</a>
                        <a href="http://twitter.com/cloudstudio" target="_blank" title="Twitter">a</a>
                        <a href="http://behance.net/cloudstudios" target="_blank" title="Behance - Works">H</a>
                        <a href="tel:+918334052485" title="Whatsapp"><</a>
                        <a href="https://plus.google.com/+UpamanyuDas" target="_blank" title="Google +">c</a>
                        <a href="http://instagram.com/cloudstudio" target="_blank" title="Instagram">x</a>
                        <a href="http://www.linkedin.com/in/upamanyudas" target="_blank" title="LinketIn">j</a>
                        <a href="https://github.com/upamanyudas/" target="_blank" title="Github">Q</a>
                        <a href="http://upamanyu.tumblr.com/" target="_blank" title="Tumblr">z</a>
                        <a href="skype:upamanyudas@hotmail.com?userinfo" title="Skype">g</a>
                        <a href="http://youtube.com/UpmanyuDas" target="_blank" title="YouTUBE">r</a>
                        <a href="https://vimeo.com/upamanyudas" target="_blank" title="Vimeo">s</a>
                        <a href="https://soundcloud.com/cloudstudioss" target="_blank" title="Soundcloud">n</a>
                        <a href="https://www.periscope.tv/cloudstudio" target="_blank" title="Periscope">0</a>
                        <a href="https://www.instamojo.com/@upamanyu" target="_blank" title="Donate">2</a>
                        <a href="https://500px.com/upamanyudas" target="_blank" title="500px">w</a>
                        <a href="https://www.flickr.com/photos/upamanyudas" target="_blank" title="Flickr">v </a>
                        <a href="https://www.goodreads.com/user/show/17319468-upamanyu-das" target="_blank" title="Goodreads">5</a>
                        <a href="https://ello.co/upamanyu" target="_blank" title="Ello">'</a>
                    </div>
                {% endif %}
	        </header>

			{% if page.path == 'index.html' %}
	        <nav id="main-nav" role="navigation">
                <a href="http://studio.upamanyu.in/home/" target="_blank" class="">Cloudstudio wallpapers</a>
                <a href="http://kalam.upamanyu.in/" target="_blank" class="">Kalam Reviews Blog</a>
            </nav>
            {% endif %}
	        <nav id="main-nav" role="navigation">
				<a href="/about/" class="{% if page.url == '/about/index.html' %}selected{% endif %}">About</a>
                <a href="/blog/" class="{% if page.url == '/blog/index.html' or page.categories contains 'blog' %}selected{% endif %}">Blog</a>
                <a href="/works/" class="{% if page.url == '/works/index.html' or page.categories contains 'works' %}selected{% endif %}">Works</a>
                <a href="/projects/" class="{% if page.url == '/projects/index.html' %}selected{% endif %}">Projects</a>
				<a href="/setup/" class="{% if page.url == '/setup/index.html' %}selected{% endif %}">Setup</a>
				<a href="/contact/" class="{% if page.url == '/contact/index.html' %}selected{% endif %}">Contact</a>
			</nav>

		</div>

    </div>

</section>