<section class="main-header {% if page.path == 'index.html' %}home{% else %}regular{% endif %}">

    <div class="vertical-container">

    	<div class="wrapper clearfix">

	        <header>
	        	{% if page.path != 'index.html' %}<a href="/">{% endif %}
		            <h1 id="main-title">Upamanyu Das</h1>
		            <h2 id="main-subtitle">Natural History Photographer / Filmmaker</h2>
                    {% if page.path == 'index.html' %}
                        <br>
                        <div id="main-contact">
                            <a href="mailto:upamanyu@upamanyu.in">upamanyu@upamanyu.in</a>
                            <br>
                            <a href="tel:+642041849774">+64 20 418 49774</a>
                            <!-- <a href="tel:+918334052485">+91 83 340 52485</a> -->
                        </div>
                    {% endif %}
	        	{% if page.path != 'index.html' %}</a>{% endif %}

	        	{% if page.path == 'index.html' %}
                    <br>
                    {% include social.html %}
                {% endif %}
	        </header>

			{% include nav.html %}

		</div>

    </div>

</section>
