<div id="main-social">
      <a href="https://www.facebook.com/profile.php?id=100001505433242" target="_blank" title="Facebook"><span class="socicon-facebook"></span></a>
      <a href="http://twitter.com/cloudstudio" target="_blank" title="Twitter"><span class="socicon-twitter"></span></a>
      <a href="http://youtube.com/UpmanyuDas" target="_blank" title="YouTUBE"><span class="socicon-youtube"></span></a>
      <a href="http://instagram.com/cloudstudio" target="_blank" title="Instagram"><span class="socicon-instagram"></span></a>
      <a href="https://plus.google.com/+UpamanyuDas" target="_blank" title="Google +"><span class="socicon-googleplus"></span></a>
      <a href="https://vimeo.com/upamanyudas" target="_blank" title="Vimeo"><span class="socicon-vimeo"></span></a>
      <a href="https://www.researchgate.net/profile/Upamanyu_Das2" target="_blank" title="Researchgate"><span class="socicon-researchgate"></span></a>
      <a href="http://yourshot.nationalgeographic.com/profile/1169674/" target="_blank" title="Natgeo Yourshot"><span class="socicon-natgeo"></span></a>
      <a href="https://wa.me/918334052485/?text=I%27ve%20been%20sent%20here%20from%20your%20website" target="_blank" title="Whatsapp"><span class="socicon-whatsapp"></span></a>
      <a href="http://behance.net/cloudstudios" target="_blank" title="Behance - Works"><span class="socicon-behance"></span></a>
      <a href="http://www.linkedin.com/in/upamanyudas" target="_blank" title="LinketIn"><span class="socicon-linkedin"></span></a>
      <a href="https://github.com/upamanyudas/" target="_blank" title="Github"><span class="socicon-github"></span></a>
      <a href="skype:upamanyudas@hotmail.com?userinfo" title="Skype"><span class="socicon-skype"></span></a>
      <a href="https://t.me/upamanyudas" target="_blank" title="Telegram"><span class="socicon-telegram"></span></a>
      <a href="https://soundcloud.com/upamanyudas" target="_blank" title="Soundcloud"><span class="socicon-soundcloud"></span></a>
      <a href="https://www.periscope.tv/cloudstudio" target="_blank" title="Periscope"><span class="socicon-periscope"></span></a>
      <a href="https://www.paypal.me/cloudstudios/5" target="_blank" title="Donate"><span class="socicon-paypal"></span></a>
      <a href="https://500px.com/upamanyudas" target="_blank" title="500px"><span class="socicon-500px"></span></a>
      <a href="https://www.flickr.com/photos/upamanyudas" target="_blank" title="Flickr"><span class="socicon-flickr"></span></a>
      <a href="https://www.goodreads.com/user/show/17319468-upamanyu-das" target="_blank" title="Goodreads"><span class="socicon-goodreads"></span></a>
      <a href="https://www.udemy.com/user/upamanyu-das/" target="_blank" title="Udemy"><span class="socicon-udemy"></span></a>
      <a href="https://ello.co/upamanyu" target="_blank" title="Ello"><span class="socicon-ello"></span></a>
      <a href="https://www.reddit.com/user/cloudstudios" target="_blank" title="Reddit"><span class="socicon-reddit"></span></a>
</div>