<!DOCTYPE HTML>
<html lang="en-US">
<head>

    <meta charset="UTF-8">

    <title>{% if page.path == 'index.html' %} Upamanyu Das &bull; {{ page.title }} {% else %} {{ page.title }} &bull; Upamanyu Das {% endif %}</title>

    <!-- G-Suite Metadata -->
    <meta name="google-site-verification" content="ZJbV9FBeYd0LoPPyopcY6Gk-V8h9af70I4HNUaVVO_w" /> 

    <link rel="canonical" href="{{ page.url }}" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.name }} — Feed" href="{{ site.url }}/blog/feed.atom" />

    {% include meta.html %}

    <link href='http://fonts.googleapis.com/css?family=Fenix|Montserrat|Playfair+Display:700italic,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/galarie.theme.css">
    <link rel="stylesheet" href="/css/galarie.min.css"> 
    <link rel="stylesheet" href="/css/prism.css"> 
    <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" integrity="sha512-YHuwZabI2zi0k7c9vtg8dK/63QB0hLvD4thw44dFo/TfBFVVQOqEG9WpviaEpbyvgOIYLXF1n7xDUfU3GDs0sw==" crossorigin="anonymous" />

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
    <!-- jQuery 1.8 or later, 33 KB -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    

    {% if page.path == 'index.html' %}
        <script>
            $(document).ready(function(){
            var header = $('body');

            var backgrounds = new Array(
                'url(../images/bg.jpg)',
                'url(../images/bg2.jpg)',
                'url(../images/bg3.jpg)',
                'url(../images/bg4.jpg)',
                'url(../images/bg5.jpg)',
                'url(../images/bg6.jpg)',
                'url(../images/bg7.jpg)',
                'url(../images/bg8.jpg)'
            );

            var current = Math.floor(Math.random() * 5) + 0;

            function nextBackground() {
                current++;
                current = current % backgrounds.length;
                $(".main-header").css('background-image', backgrounds[current]);
            }

            setInterval(nextBackground, 4500);

            $(".main-header").css('background-image', backgrounds[0]);
            });
        </script>
    {% endif %}  

    <!-- Fotorama from CDNJS, 19 KB -->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

    <!-- Add the HTML Slideshow scripts if of the Films Page -->
    {% if page.path == 'india-wildlife-cameraman-filmmaker/index.html' %}
        <!-- responsiveSlides.css & responsiveSlides.js -->
        <link  href="https://cdnjs.cloudflare.com/ajax/libs/ResponsiveSlides.js/1.55/responsiveslides.min.css" rel="stylesheet"> <!-- 1 KB -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ResponsiveSlides.js/1.55/responsiveslides.min.js"></script> <!-- 3 KB -->
    {% endif %}

    <!-- Add the Animated PNG Scripts if animatedpng tag is included -->
    {% if page.apngscripts %}
        {% for script in page.apngscripts %}
            <script type="text/javascript" src="/images/{{ page.categories }}/{{ page.folder }}/{{ page.apngscripts[forloop.index0] }}_anim.js"></script>
        {% endfor %}
        <script type="text/javascript">
            var delay_scale = 0.7
            var timer = null

            var animate = function(img, timeline, element)
            {
                var i = 0

                var run_time = 0
                for (var j = 0; j < timeline.length - 1; ++j)
                    run_time += timeline[j].delay

                var f = function()
                {
                    var frame = i++ % timeline.length
                    var delay = timeline[frame].delay * delay_scale
                    var blits = timeline[frame].blit

                    var ctx = element.getContext('2d')

                    for (j = 0; j < blits.length; ++j)
                    {
                        var blit = blits[j]
                        var sx = blit[0]
                        var sy = blit[1]
                        var w = blit[2]
                        var h = blit[3]
                        var dx = blit[4]
                        var dy = blit[5]
                        ctx.drawImage(img, sx, sy, w, h, dx, dy, w, h)
                    }

                    timer = window.setTimeout(f, delay)
                }

                if (timer) window.clearTimeout(timer)
                f()
            }

            var animate_fallback = function(img, timeline, element)
            {
                var i = 0

                var run_time = 0
                for (var j = 0; j < timeline.length - 1; ++j)
                    run_time += timeline[j].delay

                var f = function()
                {
                    if (i % timeline.length == 0)
                    {
                        while (element.hasChildNodes())
                            element.removeChild(element.lastChild)
                    }

                    var frame = i++ % timeline.length
                    var delay = timeline[frame].delay * delay_scale
                    var blits = timeline[frame].blit

                    for (j = 0; j < blits.length; ++j)
                    {
                        var blit = blits[j]
                        var sx = blit[0]
                        var sy = blit[1]
                        var w = blit[2]
                        var h = blit[3]
                        var dx = blit[4]
                        var dy = blit[5]

                        var d = document.createElement('div')
                        d.style.position = 'absolute'
                        d.style.left = dx + "px"
                        d.style.top = dy + "px"
                        d.style.width = w + "px"
                        d.style.height = h + "px"
                        d.style.backgroundImage = "url('" + img.src + "')"
                        d.style.backgroundPosition = "-" + sx + "px -" + sy + "px"

                        element.appendChild(d)
                    }

                    timer = window.setTimeout(f, delay)
                }

                if (timer) window.clearTimeout(timer)
                f()
            }

            function set_animation(img_url, timeline, canvas_id, fallback_id)
            {
                var img = new Image()
                img.onload = function()
                {
                    var canvas = document.getElementById(canvas_id)
                    if (canvas && canvas.getContext)
                        animate(img, timeline, canvas)
                    else
                        animate_fallback(img, timeline, document.getElementById(fallback_id))
                }
                img.src = img_url
            }
        </script>
    {% endif %}

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    {% if page.path != 'index.html' %}<div class="page-wrap">{% endif %}









