---
layout: default
---

<section class="main-content">

    <div class="wrapper">

        <header class="section-header">
            <h4 class="section-title">Journal</h4>
            <span class="section-subtitle">Random thoughts about life, photography &amp; design</span>
        </header>

        <ul id="posts-list">

            {% for post in site.categories.blog %}

            <li class="clearfix">
                <time datetime="{{ post.date }}" pubdate>{{ post.date | date_to_string }}</time>
                <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
            </li>
            
            {% endfor %}

        </ul>

    </div>

</section>