---
layout: default
title: Photos
---

<section class="page-content clearfix">

    <header class="section-header">
        <h4 class="section-title">Photos</h4>
    </header>

    <span class="section-subtitle">Selected wildlife Photographs</span>

    <ul class="projects-list clearfix" id="portfolio">
        <li class="wildlife travel other">
            <a href="../../photos/tiger-tales/">
                <img src="/images/works/-thumbs/tiger-tales.jpg" alt="Tiger Tales" />
                <div class="caption">
                    <div>
                        <h4>Tiger Portraits</h4>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </a>
        </li>
        
        <li class="wildlife travel other">
            <a href="../../photos/wild-portraits/">
                <img src="/images/works/-thumbs/wild-portraits.jpg" alt="Wild Portraits" />
                <div class="caption">
                    <div>
                        <h4>Wild Portraits</h4>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </a>
        </li>
        
        <li class="wildlife travel other">
            <a href="../../photos/birds/">
                <img src="/images/works/-thumbs/ave-story.jpg" alt="Birds" />
                <div class="caption">
                    <div>
                        <h4>Ave Story</h4>
                        <span>&nbsp;</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>


    <span class="section-subtitle">Photographs by location</span>

    <ul id="filter">
        <li class="current"><a href="#">all</a></li>
        <li><a href="#wildlife">wildlife</a></li>
        <li><a href="#travel">travel</a></li>
        <li><a href="#other">other</a></li>
    </ul>

    <hr>

    <ul class="projects-list clearfix" id="portfolio">

        {% for post in site.categories.photography %}
            
                <li class="{{ post.class }}">
                    <a href="{{ post.url }}">
                        <img src="/images/works/-thumbs/{{ post.thumb }}" alt="{{ post.url }}" />
                        <div class="caption">
                            <div>
                                <h4>{{ post.title }}</h4>
                                <span>Location: {{ post.place }}</span>
                                &bull;
                                <span><time datetime="{{ post.date }}" pubdate>{{ post.date | date_to_string }}</time></span>
                            </div>
                        </div>
                    </a>
                </li>
            
        {% endfor %}

    </ul>
</section>

<!-- <hr>
<center>This <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/StillImage" rel="dc:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/in/">Creative Commons Attribution-Noncommercial-Share Alike License</a></center> -->

<script>
$(document).ready(function() {
    $('ul#filter a').click(function() {
        $(this).css('outline','none');
        $('ul#filter .current').removeClass('current');
        $(this).parent().addClass('current');
        
        var filterVal = $(this).text().toLowerCase().replace(' ','-');
                
        if(filterVal == 'all') {
            $('ul#portfolio li.hidden').fadeIn('slow').removeClass('hidden');
        } else {
            
            $('ul#portfolio li').each(function() {
                if(!$(this).hasClass(filterVal)) {
                    $(this).fadeOut('normal').addClass('hidden');
                } else {
                    $(this).fadeIn('slow').removeClass('hidden');
                }
            });
        }
        
        return false;
    });
});
</script>