---
layout: default
title: Works
---

<section class="page-content clearfix">

    <header class="section-header">
        <h4 class="section-title">Works</h4>
        <span class="section-subtitle">Some of my commercial as well as non-comercial works.</span>
    </header>

    <ul id="filter">
        <li class="current"><a href="#">all</a></li>
        <li><a href="#">illustration</a></li>
        <li><a href="#">design</a></li>
        <li><a href="#">ui/ux</a></li>
        <li><a href="#">typography</a></li>
    </ul>

    <ul class="projects-list clearfix" id="portfolio">

        {% for post in site.categories.works %}
            
                <li class="{{ post.class }}">
                    <a href="{{ post.url }}">
                        <img src="/images/works/-thumbs/{{ post.thumb }}" alt="{{ post.url }}" />
                        <div class="caption">
                            <div>
                                <h4>{{ post.title }}</h4>
                                <span>Medium: {{ post.medium }}</span>
                                &bull;
                                <span><time datetime="{{ post.date }}" pubdate>{{ post.date | date_to_string }}</time></span>
                            </div>
                        </div>
                    </a>
                </li>
            
        {% endfor %}

    </ul>

</section>

<script>
$(document).ready(function() {
    $('ul#filter a').click(function() {
        $(this).css('outline','none');
        $('ul#filter .current').removeClass('current');
        $(this).parent().addClass('current');
        
        var filterVal = $(this).text().toLowerCase().replace(' ','-');
                
        if(filterVal == 'all') {
            $('ul#portfolio li.hidden').fadeIn('slow').removeClass('hidden');
        } else {
            
            $('ul#portfolio li').each(function() {
                if(!$(this).hasClass(filterVal)) {
                    $(this).fadeOut('normal').addClass('hidden');
                } else {
                    $(this).fadeIn('slow').removeClass('hidden');
                }
            });
        }
        
        return false;
    });
});
</script>