---
layout: default
title: Works
---

<section class="page-content clearfix">

    <header class="section-header">
        <h4 class="section-title">Works</h4>
        <span class="section-subtitle">Some of my commercial as well as non-comercial works.</span>
    </header>

    <ul class="projects-list clearfix">

        {% for post in site.categories.works %}

        <li>
            <a href="{{ post.url }}">
                <img src="/images/works/-thumbs/{{ post.thumb }}" alt="{{ post.url }}" />
                <div class="caption">
                    <div>
                        <h4>{{ post.title }}</h4>
                        <span><time datetime="{{ post.date }}" pubdate>{{ post.date | date_to_string }}</time></span>
                    </div>
                </div>
            </a>
        </li>

        {% endfor %}

    </ul>

</section>

<!-- <section class="main-content">

    <div class="wrapper">

        <header class="section-header">
            <h4 class="section-title">Works</h4>
            <span class="section-subtitle">Some of my commercial as well as non-comercial works.</span>
        </header>

        <ul id="posts-list">

            {% for post in site.categories.works %}

            <li class="clearfix">
                <time datetime="{{ post.date }}" pubdate>{{ post.date | date_to_string }}</time>
                <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
            </li>
            
            {% endfor %}

        </ul>

    </div>

</section> -->